// these are helpers for GSAP - optional
.pos-r {
  position: relative;
}

.op-0 {
  opacity: 0;
}


// font sizes applied to the head of the document at various screen size to enable syncing of javascript UI behaviour and css breakpoints
// DO NOT REMOVE BELOW THS LINE

// small screen
head {
  font-size: 10px;
  display: none;
}

@include media-breakpoint-up(md) {
  //midi screen
  head {
    font-size: 20px;
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  // large
  head {
    font-size: 30px;
    display: none;
  }
}

@include media-breakpoint-up(xl) {
  // xtra-large
  head {
    font-size: 40px;
    display: none;
  }
}

@include media-breakpoint-up(xxl) {
  // xtra-xtra-large
  head {
    font-size: 50px;
    display: none;
  }
}
// Massive - adjust the min-width in media query as you wish
@media screen and (min-width: 2000px) {
  head {
    font-size: 60px;
    display: none;
  }
}
